body {
  background: blanchedalmond;
}

.parent {
  display: grid;
  gap: 4px;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 120px 1fr 1fr;
  grid-template-areas:
    'header header header'
    'sidebar main ligne'
    'sidebar main none';
}

.main {
  grid-area: main;
  background-color: burlywood;
}

.main p {
  color: #3f3f3f;
}

.main h1 {
  color: #9f9f9f;
}

.main h2 {
  color: #7f7f7f;
}

.main h3 {
  color: #5f5f5f;
}

.sidebar {
  text-align: start;
  grid-area: sidebar;
  background-color: rosybrown;
}

.header {
  text-align: center;
  grid-area: header;
  background-color: tan;
}

.ligne {
  grid-area: ligne;
  background-color: wheat;
}

section {
  /* text */
  color: whitesmoke;
  /* other */
  --padding: 4px;
  position: relative;
  padding: var(--padding);
  border: 1px solid hsl(210deg 15% 6%);
  border-radius: 8px;
}