body {
    background-image: url(../images/ParisEstBanlieue.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.ThisIsNotAFish {
    background-color: rgb(0,0,0,0.5);
    color: white;
}