html {scroll-behavior: smooth;}

body {
    background-color: #666;
    color: whitesmoke;
}

h1 {color: #3d0a49;}
h2 {color: #9aff00;}
h3 {color: #111d41;}
h4 {color: #640827;}
p {color: white;}

iframe {
  height: 300px;
  width: 75%;
  margin: auto;
}

.text {text-align: center;}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 500px;
    top: 0;
    left: 0;
    background-image: linear-gradient(darkred, #666);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidepanel p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-image: linear-gradient(#222,#666);
  }

.logo {
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
}

.carte {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered_ {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button_on_train {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}

.galery {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container {
  position: relative;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.texte {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 span {
  background: rgba(71, 149, 254, 0.75);
}

.shadowed {
  text-shadow: 
    1px 1px 2px red;
}