html {scroll-behavior: smooth;}

body {
    background-color: #20000a;
    color: whitesmoke;
}

h1 {color:aqua;}
h2 {color: greenyellow;}
h3 {color: royalblue;}
h4 {color: palevioletred;}
p {color: powderblue;}

iframe {
  height: 300px;
  width: 75%;
  margin: auto;
}

.text {text-align: center;}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 500px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidepanel p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

.easter_egg {
    color: #20000a;
    margin: auto;
}

.logo {
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: rgb(255, 0, 0);
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}