#body_help {
    text-align: center;
    color: #0000ff;
    margin-left: 80px;
}

/* Class */

.atsouky {
    position: absolute;
    left: 60%;
    top: 45%;
    height: 140px;
    width: 130px;
}

.ezreal {
    position: absolute;
    right: 55%;
    top: 50%;
    width: 130px;
}