body {
    background: black;

}

.backgroundImage {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/M82_Chandra_HST_Spitzer.jpg/800px-M82_Chandra_HST_Spitzer.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#image_sry {
    position: fixed;
    left: 10%;
    width: 351px;
    height: 86px;
}

#body_one {
    text-align: center;
    color: black;
}

#body_one>h1 {
    color: red;
}

#body_one>h2 {
    color: black;
}

#body_one>p {
    color: black;
    text-size-adjust: 10px;
}

#body_one>table {
    margin: auto;
    border: 2px solid black;
    background: aquamarine;
}

th {
    color:chocolate;
    background: chartreuse;
    width: 50%
}

td {
    border: 1px solid black;
    width: 50%
}