#image_sry {
    position: fixed;
    left: 10%;
    width: 351px;
    height: 86px;
}

#body_one {
    text-align: center;
    color: #b5b5ff;
    margin-left: 80px;
}

#body_one>p {
    color: #ff0000;
    text-size-adjust: 10px;
}