#body_menu {
    text-align: center;
    color: #3a3a3a;
    margin-left: 80px;
}

img {
    width: 50%;
    margin: auto;
}

#body_menu>p {
    color: black;
}

#body_menu>h2 {
    color: blueviolet;
}

#body_menu>iframe {
    height: 300px;
    width: 75%;
    margin: auto;
}

.tgv_rec {
    width: 560;
    height: 315;
}


.sncfr_logo {
    /* 212 × 150 px */
    width: 212px;
}

.ab {
    color: red;
}
