#body_menu {
    text-align: center;
    color: #b8b8ff;
    margin-left: 80px;
}

img {
    width: 50%;
    margin: auto;
}

#body_menu>p {
    color: green;
    text-size-adjust: 10px;
}

#body_menu>iframe {
    height: 300px;
    width: 75%;
    margin: auto;
}


.sncfr_logo {
    /* 212 × 150 px */
    width: 212px;
}

.ab {
    color: red;
}