#body_menu {
    text-align: center;
    color: #b8b8ff;
    margin-left: 80px;
}

#body_menu>p {
    color: #ff0000;
    text-size-adjust: 10px;
}

#body_menu>iframe {
    position: fixed;
    left: 12.5%;
    height: 300px;
    width: 75%;
}