body {
    background-color: rgb(235, 168, 168);
}

h1 {
    color: blueviolet;
    text-size-adjust: 30px;
}

h2 {
    color: purple;
    text-size-adjust: 20px;
}

.atsouky {
    position: absolute;
    left: 60%;
    height: 140px;
    width: 130px;
}

.ezreal {
    position: absolute;
    right: 60%;
    top: 50%;
    height: 39px;
    width: 	127px;
}

.image_leda {
    position: absolute;
    left: 65%;
    top: 50%;
    height: 80px;
    width: 82px;
}

.image_obs_lyon {
    position: absolute;
    right: 65%;
    height: 82px;
    width: 141px;
}

#map_text {
    position: absolute;
    left: 50%;
    top: 200px;
}

#body_one {
    text-align: center;
    color: #7a7aad;
    margin-left: 80px;
}

.easter {
    text-align: center;
    color: rebeccapurple;
}

#body_one>p {
    text-size-adjust: 10px;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#first {
    top: 20px;
    background-color: #04AA6D;
}

#second {
    top: 80px;
    background-color: #2196F3;
}

#third {
    top: 140px;
    background-color: #f44336;
}

#fourth {
    top: 200px;
    background-color: #555
}

#fiveth {
    top: 260px;
    background-color: #8e04aa
}