@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

body {
    background-color: rgb(235, 168, 168);
}

h1 {
    color: blueviolet;
    text-size-adjust: 30px;
}

h2 {
    color: purple;
    text-size-adjust: 20px;
}
/* ========= *
 * | CLASS | *
 * ========= */

/* IMAGES */
.atsouky {
    position: absolute;
    left: 60%;
    height: 140px;
    width: 130px;
}

.ezreal {
    position: absolute;
    right: 55%;
    top: 50%;
    height: 39px;
    width: 	127px;
}

.image_leda {
    position: absolute;
    left: 65%;
    top: 50%;
    height: 80px;
    width: 82px;
}

.image_obs_lyon {
    position: absolute;
    right: 65%;
    height: 82px;
    width: 141px;
}

.image_indexcatalog {
    width: 820px;
    height: 820px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 	4096 × 3843 px */
.image_hubble_1 {
    position: absolute;
    top: 60%;
    width: 409px;
    height: 384px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.easter {
    text-align: center;
    color: rebeccapurple;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.container {
    position: relative;
    width: 820px;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
}
  
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ID */

#image_sry {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 50%;
}

#map_text {
    position: absolute;
    left: 50%;
    top: 200px;
}

#body_one {
    text-align: center;
    color: #7a7aad;
    margin-left: 80px;
}

#body_one>p {
    color: #ff0000;
    text-size-adjust: 10px;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#first {
    top: 20px;
    background-color: #04AA6D;
}

#second {
    top: 80px;
    background-color: #2196F3;
}

#third {
    top: 140px;
    background-color: #f44336;
}

#fourth {
    top: 200px;
    background-color: #555
}

#fiveth {
    top: 260px;
    background-color: #8e04aa
}
