#body_galerie {
    text-align: center;
    color: #0000ff;
    margin-left: 80px;
}

#body_galerie>h1 {
    color: #ce6262;
}

#body_galerie>h2 {
    color: #7c2d2d;
}

#body_galerie>p {
    color: #530d0d;
}

.image_indexcatalog {
    position: absolute;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/* 	4096 × 3843 px */
.image_hubble_1 {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.container {
    position: relative;
    width: 410px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
}
  
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 120px;
    top: 250px;
    text-align: center;
}

.text_bas {
    text-align: center;
}
