#body_help {
    text-align: center;
    color: #0000ff;
    margin-left: 80px;
}

#body_help>h1 {
    color: #ff7979;
}

#body_help>h2 {
    color: #ff5f5f;
}

#body_help>p {
    color: #ff2d2d;
}